.img-amarilla{
  
    max-width: 100%;
    height: auto;

}

  .img-azul {
    float: right;
    margin-left: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
      margin: 0 auto;
  }

  .img-roja {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border-radius: 50%;
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: 150px; /* Ajusta el tamaño según sea necesario */
    object-fit: cover; 
    float: left;
      margin-right: 20px;
  }
  

  body{
    background-color: rgb(106, 191, 191);
  }